@charset "utf-8";

/* 'Lobster Two', cursive; 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap');

/***** common *****/
body::-webkit-scrollbar{
  width:8px;
}
body::-webkit-scrollbar-track{
  background-color: red;
}
body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border:blue 1px solid;
  border-radius: 5px;
}
main {
  height: 3000px;
  padding-top: 100px;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}
a {
  text-decoration: none;
}
menu {
  list-style: none;
}
li {
  display: inline-block;
}
header h1 , header .utill , header .gnb{
  max-width: 1200px;
}
/***** header *****/
header {
  background-color: #8F2D56;
  font-family: 'Noto Sans KR', '맑은 고딕', 돋움, sans-serif;
  font-weight: 400;
  text-align: center;

  min-width:900px; 
  height:110px;
  position: fixed;
  top:0;
  left:0; right:0;
  margin:auto;
 
}
/* 로고 */
header h1 {
  background-color: #FFBC42;
  font-weight: 700;
  font-size: 30px;
  width:120px; height: 60px;
  line-height: 60px;

  position: absolute;
  left:25%; bottom:14px;
}
header h1 a {
  color:#8F2D56;
}


/* 유틸 */
header .utill {
  background-color: #53142b;
  position: absolute;
  right: 25%; top:0;
  padding:2px 4px;
}
header .utill li {
  color:#fff;
  font-size:11px;
  vertical-align: middle;
  padding:0 4px;
}
header .utill a {
  color:#fff;
  font-size:16px;
}

header .utill a:hover {
  color:black;
  background-color: #fff;
}
/* 메뉴 */
header .gnb {
  font-family: 'Lobster Two','Times New Roman', Times, serif;
  background-color: #006BA6;
  padding:0; margin:0;

  position: absolute;
  right:25%;  bottom:14px;
}
header .gnb li a {
  text-transform: capitalize;
  color:#fff;
  font-size: 26px;
  display: block;
  padding: 10px 30px;
}
header .gnb li a:hover {
  background-color: #0496FF;
}