@charset "utf-8";

/* 공통 값 */
html{
  scrollbar-width: none;
}
body{margin: 0; padding: 0;
width: 100%; }
ul{list-style: none;}
ol{list-style: none;}
a{text-decoration: none;}
button{
  font-size: 1.5rem;
  width: 150px;
  background-color: inherit;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
button:hover{
  border-radius: 10px;
  background-color: orange;
}
video{
  position: absolute;
  top: 0;
  width: 1900px; height: auto;
}
/* header */
.box1{
  width: 100%;
  height: 80vh;
  position: relative;
}
.box1 img{
  width: 170px; height: 30px;
  margin: 25px 200px 0 30px;
}
.box1 ul{
  position: fixed;
  top: 0;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.box1 li{
  margin-top: 30px;
  text-align: center;
  width: 10%;
}
.box1 ul li a{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px;
  color: #000;
}
.box1 > ul > li > dl {
  margin: 0;
  width: 100%;
  display: flex;
  margin-left: 60px;
}
.box1 ul li dl dd:first-child{
  background-color: orange;
  border-radius: 15px;
}
.box1 ul li dl dd{
  padding: auto;
  width: 200px;
}
.box1> ul > li > dd:nth-child(1){
  display: flex;
}
.box1 ol li{
  width: 400px;
  color: #fff;
}
.box1 h1{
  margin: 0;
}
.box1 ol li:first-child{
  margin-top: 400px;
  font-size: 1.2rem;
  padding: 0;
}
.box1 ol li:last-child{
  font-size: 0.8rem;
  display: flex;
  padding-left: 25px;
  margin: 0;
}
/* section 1 */
.box2{
  font-size: 1rem;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}
.img-box{
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}
.img-box{
 width: 100%;
 margin: 0; padding: 0;
}
.div-box h1{
  font-size: 4.0rem;
}
.txt-box{
  margin: 150px 0;
}
.txt-box h1{
  font-size: 4.0rem;
}
/* section 2 */
.box3{
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.box3 ul{
 display: flex;
justify-content: center;
}
.box3-txt{
  width: 1000px;
  padding:0 80px;
  height: 600px;
  line-height: 1.6;
  background-color: #d8d8d8;
}
.box3-txt ul{
  padding: 0;
}
.box3 ul li{
  margin-top: 60px;
}
.box3 ul li a{
  color: #333333;
  margin:10px;
}
.box3 ul li a:hover{
  transition: 0.1s;
  color: orange;
}
.box3-txt li img{
  width: 200px;
  margin: 30px;
}
.box3-img{
  width: 1200px;
  margin: 0; padding: 0;
}
.main-box3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1030px;
}
/* 중간 박스 */
.mid-main{
  width: 900px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
.mid-main h1{
  margin-top: 150px;
  font-size: 4.0rem;
}
.mid-main ul{
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.mid-main ul li{
  margin: 20px;
}
.mid-main ul li a{
  color: #000;
}
.mid-main ul li a:hover{
  transition: 0.3s;
  color: orange;
}

/* section 3 */
.box4{
  display: flex;
  font-size: 2.0rem;
  position: relative;
  width: 1900px;
  margin: 0; padding: 0;
}

.box4-asdf0{
  width: 310px; height: 60vh;
  font-size: 1.6rem;
  background-color: #afadad;
  padding-right: 1350px;
  border-radius: 30px;
}
.box4-asdf0 h2{
  text-align: center;
}
.box4-asdf1{
  align-items: center;
  margin-left: 10px;
  margin-top: 200px;
}
.box4-asdf1 a{
  color: #d8d8d8;
}
.box4-asdf2{
  display: flex;
  margin-top: 200px;
}

.box4-asdf2 a{
  color: #d8d8d8;
}
.border-box{
  width: 850px; height: 55vh;
  position: relative;
  bottom: 90px;
  margin-left: 300px;
  padding-right: 450px;
  background-color: #fcfcfc;
}
.mid-btn{
 margin-left: 50%;
}
/* control box */
.control-box{
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
}
.control-box h1{
  margin-top: 100px;
  font-size: 4.0rem;
}
/* section4 */
.box6{
  width: 1400px; height: 625px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
}
.box6 a{
  height: 400px;
}
.box6 a div{ 
  position: relative;
  bottom: 300px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
.box6 a div h3{
  background-color: orange;
  width: 100px;
  position:relative;
  bottom: 137px;
}
.box6 a div h1{
  position: relative;
  bottom: 35px;
}
.box6 div p:last-child{
  border: 1px solid #ffffff;
  width: 120px;
  margin: 0 auto;
}
.box6 ol{
  width: 550px; height: 410px;
  padding: 44px;
}
.box6 ul ol li{
  margin:30px;
}
.ship{
  width: 500px; height: 410px;
  margin: 0; padding: 0;
}
.love{
  width: 450px; height: 395px;
  padding: 20px;
}
.newjin-txt{
  font-size: 2.4rem;
}
ul li button{
  border: 1px solid #000;
  float: right;
  position: relative;
  bottom: 40px;
}
ul li button:hover{
  border: 1px solid #000;
  background-color: initial;
}
.box6 ul li a{
  color: #000;
}
.box6 ul li a:hover{
  border-bottom: 1px solid #000;
}
.box6 dl{
  font-size: 1.0rem;
  position: relative;
  right: 330px;
  width: 250px;
}
.box6 dl dd:nth-child(1){
  font-size: 2.0rem;
  color: orange;
  font-weight: bold;
}
.box6 dl dd:nth-child(2){
  width: 200px;
}
.box6 dl dd:nth-child(3){
  width: 130px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  left: 60px; top: 260px;
  color: #fff;
  background-color: orange;
  text-align: center;
  font-weight: bold;
}
.box6 dl dd:nth-child(3):hover{
  transition: 1s;
  border-radius: 20px;
}

/* logo img */

.box7{
  display: flex;
  justify-content: space-around;
  width: 1862.5555px;
  margin: 0;
  height: 7vh;
  background-color: #afadad;
}
.box7 img{
  padding: 0;
  margin-top: 20px;
}

/* footer */
.box8{
  width: 100%;
  display: flex;
  height: 30vh;
  background-color: #414040;
  color: #fff;
  position: relative;
}
.box8 a{
  color: #fff;
  height: 0;
}
.box8 a img{
  margin-top: 20px;
  position: relative;
  left: 40px;
}
.box8 p{
  float: right;
}
.box8 ul{
  display: flex;
  position: relative;
  height: 0;
  right: 350px;
  top: 60px;
}
.box8 ul li{
  margin: 0;
  font-size: 0.9rem;
}
.box8 ul li:nth-child(1){
  width: 340px;
}
.box8 ul li:nth-child(2){
  width: 380px;
}
.box8 ol{
  display: flex;
  margin: 0; padding: 0;
  position: relative;
  right: 1070px;
  top: 130px;
  width:auto; height: 50px;
}
.box8 ol li{
  margin: 0;
}
.box8 ol li:nth-child(1){
  width: 100px;
  height: 0;
}
.box8 ol li:nth-child(2){
  width: 150px;
}
.box8 ol li:nth-child(3){
  width: 170px;
}
.box8 ol li:nth-child(4){
  width: 170px;
}
.box8 ol li:nth-child(5){
  position: relative;
  top: 50px; right: 590px;
  width: 450px;
}
.MEVIUS1{
  display: flex;
  flex-direction: row;
  position: relative;
  right: 800px;
}
.MEVIUS1 p{
  margin-top: 50px;
}
.MEVIUS1 p:nth-child(1){
  width: 90px;
}
.MEVIUS1 p:nth-child(2){
  width: 160px;
}
.MEVIUS1 p:nth-child(3){
  width: 150px;
}
.box8 div{
 position: relative;
 right: 1000px;
}
.box8 div h5{
  font-size: 1.0rem;
  width: 200px;
  margin-top: 200px;
}